
@media screen and (max-width:991px) {

    .hero_top {
        display: none;
    }

    .mobile_nenu {
        background: #021225;
        position: absolute;
        top: -1000px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 99999;
        transition: all .4s ease-in-out;
    }

    .open {
        top: 125px;
    }

    .bars span {
        width: 37px;
        height: 2px;
        display: block;
        background: #fff;
        margin-bottom: 8px;

    }

    .bars span:first-child {
        width: 20px;
        margin: 0px 0px 10px 16px;
    }

    .mobile_menu_header {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: end !important; */
        padding: 37px;
        align-items: center;
        padding: 23px 30px;
        position: relative;
        margin-top: 20px;
    }

    .mobile_nenu .hero_top_left .menu ul {

        flex-direction: column;
    }

    .menu ul li {
        margin-bottom: 30px;
    }

    .menu ul li a {
        padding: 0 !important;
    }

    .hero_top_right {
        flex-direction: column;
    }

    .hero_top_left {
        justify-content: center;
    }

    .walletbtn {
        margin-right: 0px !important;
        margin: 20px 0px 40px;
    }


    .hero_top_left {
        padding-top: 7px;

    }

    .hero_bottom {
        padding: 58px 0px 0px 0px !important;
    }

    .button_group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .btnone,
    .btntwo {
        padding: 12px 26px;
        font-size: 12px;
    }






}

@media screen and (min-width:992px) {
    .mobile_menu_section {
        display: none;
    }
}

@media screen and (max-width:575px) {
    .hero_content {
        text-align: center;
    }

    .hero_content h1 {
        font-size: 36px;
    }

    .hero_content h2 {
        font-size: 22px !important;
    }

    .hero_content p {
        font-size: 10px !important;
    }

    .soluation_area {
        text-align: center;
    }

    .soluation_item p {
        font-size: 14px !important;
    }

    .container-fqa>h4 {
        position: relative;
        margin-left: 0;
        font-size: 10px;
    }

    .container-fqa>h4::before {
        content: '';
        background: #FFFFFF;
        position: absolute;
        Width: 2px;
        Height: 14px;
        top: 50%;
        left: 45%;
        transform: translateY(-118%);
    }

    .hero_content h1 {
        background: -webkit-linear-gradient(245deg, #9EFFE8 22.08%, #0057FF 89.62%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

@media screen and (max-width: 423px) {
    .btntwo {
        padding: 14px 22px;
        font-size: 10px;
    }

    .btnone {
        padding: 15px 13px;
        font-size: 10px;
    }
}

@media screen and (max-width: 575px) {
    .about_section {
        max-width: 100% !important;
        margin: 20px auto;
    }

    p {
        font-weight: bold !important;
    }

    .button_Section button {
        padding: 0px 24px;
        font-size: 19px !important;
        margin: 11px;
        font-weight: 700;

    }

    .soluation_item img {
        width: 150px;
        margin-bottom: -35px;
    }

    .about_content h5::before {
        display: none;
    }

    .about_content h5 {
        margin-left: 0px !important;
    }
}

@media screen and (max-width:575px) {
    .soluation_item img {
        margin-left: 0;
    }

    .footer-title {
        font-size: 22px;
    }

    .footer-title {
        padding-top: 45px;
    }

    .about_content p {
        font-size: 13px !important;
    }

    .about_content {
        text-align: center;
    }

    .about_content h2 {
        font-size: 20px !important;
        color: #1EC69E;
        margin: 2px 0px -2px !important;
    }

    .about_section {
        padding: 0px 0px 0px !important;
    }
}

@media screen and (max-width:1399px) {
    .soluation_section {
        padding-bottom: 23px !important;
    }
}


@media screen and (max-width: 575px) {

    .first_para {
        margin-bottom: 0px !important;
    }

    .soluation_item {
        padding: 0 2px;
        padding-bottom: 70px;
    }

    .game__inner .title p,
    .contact_title span,
    .about_content h5,
    .offer_title span,
    .mission_title p {
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .soluation_area {
        text-align: center;
    }

    .soluation_item p {
        font-size: 14px !important;
    }
}

@media screen and (max-width:1399px) {
    .offer_section_button {
        max-width: 850px;
        margin-bottom: 0;
    }
}

@media screen and (max-width:991px) {
    .offer_section {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 575px) {
    .offer_section_button button {
        font-size: 19px !important;
        margin: 12px 0px !important;
        padding: 0px 15px !important;
    }

    .offer_section_button {
        width: 300px;
    }

    .offter_item {
        margin-bottom: 20px !important;
    }

    .contact_title.token span {
        font-size: 12px;
    }

}


@media screen and (max-width: 423px) {
    .offer_content {
        padding: 20px !important;
    }

    .offer_body p {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 575px) {
    .mission_title p::before {
        position: absolute;
        content: "";
        background-color: #fff;
        height: 100%;
        width: 2px;
        left: -13px;
    }

    .mission_title h2 {
        font-size: 22px;
        margin-bottom: 60px;
    }

    .mission_item h4 {
        font-size: 16px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 20px;
    }

    .mission_item img {
        width: 40px;
    }

    .mission_item {
        margin-bottom: 50px;
    }

    .global_image img {
        width: 82px !important;
    }

    .offer_body {

        padding-bottom: 0px;
    }

    .game__inner .image__section h4 {
        font-size: 16px;
    }

    .game__inner .para__section p {
        font-size: 14px;
        line-height: 25px;
    }

    .game__inner {
        padding-bottom: 90px;
    }

    .application__section {
        padding: 100px 0 0;
    }
}

@media screen and (max-width: 424px) {
    .global_image img {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .timeline__title h4 {
        font-size: 24px;
    }

    .content {
        padding: 20px 70px;
    }

    .right {
        left: 0px;
    }

    .left {
        left: 0px
    }

    .section {
        width: 100%;
    }

    .section::after {
        left: 26px;
    }

    .section.left .content {
        text-align: left;
    }

    .timeline::after {
        left: 4%;
    }

    .right::after {
        left: 26px;
    }
}

@media screen and (max-width: 767px) {
    .right::after {
        left: -36px;
    }

    .section::after {
        left: 17px;
    }
}

@media screen and (max-width: 575px) {
    .section::after {
        left: 26px;
    }

    .timeline::after {
        left: 7%;
    }

    .offer_content h4 {
        font-size: 18px;
    }

    .image__section img {
        width: 40px;
    }

    .chart_Section {
        margin: 35px 0px 85px;
    }

    .mission_item h4 {
        margin-top: 0;
    }

    .app__section .item1 p {
        font-size: 12px;
        line-height: 15px;
    }

    .app img {
        height: 60px !important;
    }

    .app__section div {
        width: 90px !important;
    }

    .timeline__title img {
        width: 223px;
        height: 112px;
    }

    .timeline__title {
        position: relative;
    }

    .timeline__title h4 {
        /* font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .about_content h5 {
        font-size: 10px;
    }

    .offer_title span {
        margin-bottom: 14px;
        font-size: 10px;
    }


}

@media screen and (max-width: 424px) {
    .section::after {
        left: 24px;
    }

    .timeline::after {
        left: 9%;
    }
}

@media screen and (max-width: 374px) {
    .section::after {
        left: 20px;
    }
}

@media screen and (max-width: 320px) {
    .section::after {
        left: 15px;
    }
}

@media screen and (max-width: 991px) {
    .app__section .item1 .app img {
        height: 135px;
    }
}